@import 'bootstrap';
@import '../../node_modules/swiper/swiper-bundle.min.css';
@import '../../node_modules/swiper/modules/navigation.css';
@import '../../node_modules/swiper/modules/pagination.css';

:root {
    --swiper-navigation-color: #fff; 
    --swiper-pagination-color: #fff;
}

* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    font-family: "Roboto", sans-serif;
}

.bg-light {
    transition: all 500ms;
    box-shadow: 0px 0px 8px #000;
}

.bg-transparent {
    transition: all 500ms;
}

#btn-back-to-top {
    position: fixed;
    bottom: 40px;
    right: 40px;
    display: none;
    background-blend-mode: difference;
    width: 45px;
    height: 45px;
    border-radius: 15px;
}

/* button hamburger collapse senza bordo */
.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    border: none;
    box-shadow: none;
}

/* hamburger menu chiuso */
.nav-hamburger{
    height: 20px;
    width: 30px;
    position: relative;
    top: 0px;
    left: 0px;
    transform: rotate(0deg);
    transition: all ease-in-out 0.3s;
    z-index: 100;
}

.nav-hamburger span {
    width: 100%;
    height: 2px;
    display: block;
    background-color: #000;
    position: absolute;
    top: 0px;
    left: 0px;
}

.nav-hamburger span:nth-child(1) {
    top: 0px;
    width: 100%;
    transition: all ease-in-out 0.3s;
}
.nav-hamburger span:nth-child(2),
.nav-hamburger span:nth-child(3) {
    top: 10px;
    width: 60%;
    transition: all ease-in-out 0.2s;
}
.nav-hamburger span:nth-child(4) {
    top: 20px;
    width: 85%;
    transition: all ease-in-out 0.3s;
}

/* hamburger menu aperto */
.menu_open .nav-hamburger{
    /* transform: rotate(180deg); */
    transition: all 0.3s;
}
.menu_open .nav-hamburger span:nth-child(1) {
    top: 10px;
    width: 100%;
    transform: rotate(45deg);
    transition: all ease-in-out 0.3s;
}
.menu_open .nav-hamburger span:nth-child(2),
.menu_open .nav-hamburger span:nth-child(3) {
    top: 10px;
    width: 0%;
}
.menu_open .nav-hamburger span:nth-child(4) {
    top: 10px;
    width: 100%;
    transform: rotate(-45deg);
    transition: all ease-in-out 0.3s;
}
/* fine hamburger */


.ourNavbar {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    padding: 1.2rem 8%;
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
} 

.ourList {
    align-items: end;
    justify-content: end;
    float: right;
    margin-right: 20px;
}

.ourList>li>a {
    /* border-radius: 5px;
    text-shadow: black 6px -4px 3px; */
    transition: 0.4s;
    color: #000000;
    text-transform: uppercase;
    /* -webkit-text-stroke: 0.5px rgba(143, 211, 244, 1); */
    padding: 10px 20px;
    margin: 0 5px;
    position: relative;
    
}

.ourList>li>a::before {
    content: "";
    position: absolute;
    width: 0;
    height: 4px;
    bottom: 0;
    left: 50%;
    background-color: rgba(143, 211, 244, 1);
    transition: all 0.4s;
    border-radius: 15px;
    /* -webkit-text-stroke: rgba(143, 211, 244, 1); */
}

.ourList>li>a:hover::before {
    width: 100%;
    left: 0;
    background: rgba(143, 211, 244, 1);
}

.ourList>li>a.active, .ourList>li>a:hover {
    color: rgba(143, 211, 244, 1);
    transition: .5s;
    /* -webkit-text-stroke: 1px rgb(0, 0, 0); */
}

.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
}

#check {
    display: none;
}

@media (max-width: 952px) {
    label.logo {
        font-size: 30px;
        padding-left: 50px;
    }
    nav>ul>li>a {
        font-size: 16px;
    }
}

@media (max-width: 858px) {
    .checkbtn {
        display: block;
    } 

    ul {
        display: flex;
        flex-direction: column;
        justify-content: start;
        text-align: center;
        transition: all .5s;
    }
    nav>ul>li {
        display: flex;
        flex-direction: column;
        justify-content: start;
        margin: 50px 0px;
        line-height: 30px;
    }
    nav>ul>li>a {
        font-size: 20px;
    }
    .ourList>li>a.active, .ourList>li>a:hover {
        background: none;
        color: rgba(143, 211, 244, 1);
    }
    #check:checked ~ ul {
        left: 0px;
    }

    .CallToAction {
        margin: 30px 0px;
    }
}

.ourBgImage {
    margin: 0px;
    padding-top: 0px;
    background-image: url('/public/assets/cuffie_easy_it.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

textarea:hover, 
input:hover, 
select:hover,
textarea:active, 
input:active, 
select:active,
textarea:focus, 
input:focus,
select:focus
{
    outline:0px !important;
    box-shadow: none !important;
}

/* classi form registrazione */
.gradient-custom-3 {
    
    background: #84fab0;
    background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5));
    background: linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5))
}
.gradient-custom-4 {
    background: #84fab0;
    background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1));
    background: linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1))
}

.accordion-item, .accordion-item:focus, .accordion-item:active,
.accordion-header, .accordion-header:focus, .accordion-header:active,
.accordion-button, .accordion-button:focus, .accordion-button:active {
    outline: none !important;
}

.accordion-button:focus {
    box-shadow: none;
    border-color: rgba(0,0,0,.125);
}

.accordion-button:not(.collapsed){
    box-shadow: none;
    background-color: transparent;
    border-bottom: 1px solid #8f8f8f57;
    color: #000;
}

/* input type file */
input[type=file] {
    width: 350px;
    max-width: 100%;
    color: #444;
    padding: 5px;
    background: #fff;
    border-radius: 10px;
    border: 1px solid #555;
}  

input[type=file]::file-selector-button {
    margin-right: 20px;
    border: none;
    background: #000000;
    padding: 10px 20px;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    transition: background .2s ease-in-out;
}

input[type=file]::file-selector-button:hover {
    background: #464646;
}  

.drop-container {
    position: relative;
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #5555556e;
    color: #444;
    cursor: pointer;
    transition: background .2s ease-in-out, border .2s ease-in-out;
}

.drop-container:hover {
    background: #eee;
    border-color: #111;
}

.drop-container:hover .drop-title {
    color: #222;
}

.drop-title {
    color: #444;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    transition: color .2s ease-in-out;
}

/* end input file */

/* card home e card pagina dashboard */
.card {
    transition: all 0.5s;
}

.card:hover {
    box-shadow: 0px 0px 10px #5ef7ff;
    border: 2px solid #43cdff;
    transform: scale(1.03);
    transition: all 0.4s;
}

/* end card home e card pagina dashboard */

/* swiper show */
/* 
&  --swiper-navigation-color: #fff;
&  --swiper-pagination-color: #fff"  
*/

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}

.swiper-slide {
    background-size: cover;
    background-position: center;
}

.mySwiper2 {
    height: 80%;
    width: 100%;
}

.mySwiper {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
}

.mySwiper .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
}

.mySwiper .swiper-slide-thumb-active {
    opacity: 1;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* STAR RATING */
.rating {
    margin: 0px;
}

.rating >* {
    float: right;
}

.rating label {
    height: 40px;
    width: 20%;
    display: block;
    position: relative;
    cursor: pointer;
}

.rating label::after {
    transition: all 0.4s ease-out;
    -webkit-font-smoothing:antialiased;
    position: absolute;
    content: '☆';
    color: #444;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 25px;
    -webkit-animation: 1s pulse ease;
    animation: 1s pulse ease;
}

.rating input {
    display: none;
}

.rating input:hover + label::after,
.rating input:hover ~ label::after,
.rating input:checked + label::after,
.rating input:checked ~ label::after {
    content: '★';
    color: gold;
    text-shadow: 0 0 20px gold;
}


/* dani style */

.quantity, .cart {
    margin: 0px 8px;
    padding: 3px;
    border-radius: 6px;
    border: 2px solid black;
    text-wrap: nowrap;
    text-transform: uppercase;
    display: inline-block;
    color: black;
    transition: all 0.8s;
    position: relative;
    /* overflow: hidden; */
    z-index: 1;
}

.quantity::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(143, 211, 244, 1);
    clip-path: circle(0 at center);
    transition: clip-path 0.8s;
    z-index: -1;
    border-radius: 5px;
}

.cart::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(143, 211, 244, 1);
    /* clip-path: circle(0 at center);
    transition: clip-path 0.8s; */
    z-index: -1;
    border-radius: 5px;
    opacity: 0;
    transform: scale(0);
    transition: opacity 1.4s, transform 1.4s;
}

.quantity:hover::before/* , .cart:hover::before */ {
    clip-path: circle(100% at center);
}
.cart:hover::before {
    opacity: 0.8;
    transform: scaleY(1) scaleX(1);
    animation: pulseAnimation59 1s infinite;
}

.myIcon {
    margin: 8px 18px;
    padding: 3px;
    border-radius: 6px;
    display: inline-block;
    color: rgba(143, 211, 244, 1);
    transition: all 0.8s;
    position: relative;
    /* overflow: hidden; */
    z-index: 100;
}

.myIcon a {
    text-decoration: none;
}

.myIcon::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(143, 211, 244, 1);
    clip-path: circle(0 at center);
    transition: clip-path 0.8s;
    z-index: -1;
    border-radius: 50%;
    opacity: 0;
    transform: scale(0);
    transition: opacity 1.4s, transform 1.4s;
}

.myIcon:hover::before {
    opacity: 1.1;
    animation: pulseAnimation69 1s infinite;
    clip-path: circle(100% at center);
}

@keyframes pulseAnimation59 {
    0% {
        transform: scaleY(1) scaleX(1);
        opacity: 1.4;
    }
    50% {
        transform: scaleY(1.2) scaleX(1.04);
        opacity: 1;
    }
    100% {
        transform: scaleY(1) scaleX(1);
        opacity: 1.4;
    }
}


@keyframes pulseAnimation69 {
    0% {
        transform: scaleY(0) scaleX(0);
        opacity: 1.4;
    }
    /* 25% {
        transform: scaleY(0.6) scaleX(0.6);
        opacity: 1.4;
    } */
    50% {
        transform: scaleY(1) scaleX(0.6);
        opacity: 1;
    }
    /* 75% {
        transform: scaleY(0.6) scaleX(0.6);
        opacity: 1.4;
    } */
    100% {
        transform: scaleY(0) scaleX(0);
        opacity: 1.4;
    }
}

/* DROPDOWN LINGUE */
.dropdown-item {
    height: 40px;
    width: 10px;
    padding: 0px;
    margin: 0px;
}

.languages {
    height: 40px;
    width: 10px;
    padding: 0px;
    margin: 0px;
}

.dropdown-menu {
    --bs-dropdown-min-width: 4rem;
}

/* .select-container {
    display: flex;
    justify-content: center;
    position: relative;
    min-width: 250px;
    height: 50px;
}

.select-box {
    border: none;
    appearance: none;
    padding: 0px 30px 0px 15px;
    width: 100%;
    color: white;
    background-color: rgba(143, 211, 244, 1);
    font-size: 20px;
}

.select-container .icon-container {
    width: 50px;
    height: 100%;
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(143, 211, 244, 1);
}

.icon-container i {
    font-size: 30px;
    color: white;
} */