@import 'bootstrap';

a {
    text-decoration: none;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    color: #2f2f2f;
    text-decoration: underline; 
}
a:hover {
    color: #2f2f2f;
    text-decoration: none; 
}
a.more {
    font-weight: 600; 
}

.ourList {
    align-items: end;
    justify-content: end;
}
